@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');
.threeDots{
    height: 40px;
    width:40px;
    float: right;
}

#titleBarOfFeed{
    padding-left:15%;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

#datePosted{
    color: gray;
    font-size:small;
}

.likeIcon{
    margin-left:12%;
    text-align: left;
    width: 40px;
    height:40px;
}

.commentIcon{
    margin-left:2%;
    text-align: left;
    width: 40px;
    height:40px;
}
.captionText{
    margin-left:12%;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.postsImage{
    text-align: center;
    width:400px;
    height:500px;
    margin-left:12%
}

@media screen and (min-width:960px){
    .postsImage{
        text-align: center;
        width:400px;
        height:500px;
        margin-left:12%
    }
}

@media screen and (max-width: 959px){
    
    .postsImage{
        width:300px;
        height: 400px;
        text-align: center;
        margin-left:12%
    }


}

#statusBar{
    border: 1px solid black;
    width: 100%;
    height: 160px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.statusImage{
    width: 75px;
    height:75px;
    border-radius: 37.5px;
    margin-left: 10%;
}

.statusName{
    margin-left: 20%;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
