@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');
.App-logo{
    height: 70px;
    width: 70px;
}

.App-Name{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 40px;
    padding-top: 2%;
}

.homeIcon {
    height:40px;
    width:40px;
    margin-top: 5%;
    margin-left: 4%;
}

@media screen and (max-width: 900px) {
    .homeIcon {
        height:40px;
        width:40px;
        margin-top: 5%;
        margin-left: 4%;
    }
    .App-logo{
        height: 70px;
        width: 70px;
    }
 }
 @media screen and (max-width: 600px) {
    .homeIcon {
        height:30px;
        width:30px;
        margin-top: 10%;
        margin-left:10%
    }
    .App-logo{
        height: 50px;
        width: 50px;
    }
 }